@use 'src/styles/res' as res;

.button {
  @include res.transition([background-color]);

  display: flex;
  justify-content: center;
  background-color: res.color('accent');
  border: 0;
  border-radius: 10px;
  min-width: 4rem;
  padding: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #9bdeac;
  }

  &__label {
    color: #fff;
    font-weight: 700;
  }
}
